.featured {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    .featuredItem {
        flex: 1;
        margin: 0px 20px;
        padding: 30px;
        border-radius: 10px;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
.gender{
        font-size: 20px;
margin-top: 10px;
    
}
        .featuredTitle{
            font-size: 20px;
        }
        .featuredMoneyContainer{
            margin: 10px 0px;
            align-items: center;
            .featuredMoney{
                font-size: 20px;
                font-weight: 600;
            }
        }
        .featuredSub{
            display: flex;
            font-size: 15px;
            color: gray;
        }      
        .image{
            padding-top: 10px;
            width: 100px;
            height: 50px;
        }
      }
  }
  
 
  

  

  

  
